{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1, shrink-to-fit=no"
		/>
		<meta name="description" content="" />
		<meta name="author" content="" />

		<title>{% block title %}Venesia{% endblock title %}</title>
		<link
			rel="shortcut icon"
			href="{% static 'ico/favicon.ico' %}"
			type="image/x-icon"
		/>
		<link href="{% static 'css/style.css' %}" rel="stylesheet" />
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
		/>
	</head>
	<body>
		{% include "include_parts/header.html" %}
		<main class="wrapper">
			<section class="intro"></section>
			<section class="main">
				{% block content %}
                {% include "include_parts/message.html" %}
				<h1 class="main__title">
					Наша витрина {{request.session.session_key}}
				</h1>
				<div class="main__container">
					{% for product in products %}
					    {% include "include_parts/product.html" %}
					{% endfor %}
					{% include "include_parts/pagination.html" %}
				</div>
				{% endblock content %}
			</section>
			{% include "include_parts/footer.html" %}
		</main>
        {% block js %}
        <script src="{% static 'js/el_on_page.js' %}"></script>
        {% endblock js %}
	</body>
</html>
