{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1, shrink-to-fit=no"
		/>
		<meta name="description" content="" />
		<meta name="author" content="" />

		<title>{% block title %}Venesia{% endblock title %}</title>
		<link
			rel="shortcut icon"
			href="{% static 'ico/favicon.ico' %}"
			type="image/x-icon"
		/>
		<link href="{% static 'css/style.css' %}" rel="stylesheet" />
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
		/>
	</head>
	<body>
		<header class="header">
			<div class="burger">
				<span></span>
			</div>
			<nav class="header__nav">
				<ul class="nav__list">
					<li class="nav__item">
						<a class="nav__link home" href="{% url 'base' %}"
							>Venesia | Flower Shop</a
						>
					</li>
				</ul>
				<ul class="nav__list">
					<li class="nav__item">
						<a
							href="{% url 'categories' %}"
							class="nav__link borderLeftRight magnifyText"
							>Каталог</a
						>
					</li>
					<li class="nav__item">
						<div class="nav__dropdown_container">
							<a
								href="#team"
								class="nav__link borderLeftRight magnifyText"
								>Магазин <i class="fas fa-chevron-down arrow-down"></i
							></a>
							<div class="nav__dropdown_content">
								<a href="{% url 'about' %}"
									><span class="nav__link borderLeftRight magnifyText"
										>О нас</span
									></a
								>
								<a href="{% url 'reviews' %}"
									><span class="nav__link borderLeftRight magnifyText"
										>Отзывы</span
									></a
								>
								<a href="#"
									><span class="nav__link borderLeftRight magnifyText"
										>Оплата</span
									></a
								>
							</div>
						</div>
					</li>
					<li class="nav__item">
						<div class="nav__dropdown_container">
							<a
								href="#about_us"
								class="nav__link borderLeftRight magnifyText"
								>Связаться с нами
								<i class="fas fa-chevron-down arrow-down"></i
							></a>
							<div class="nav__dropdown_content">
								<a
									href="https://instagram.com/venesia_maykop?igshid=16j6e7kvh9l7q"
									><i class="fab fa-instagram"></i>
									<span class="nav__link borderLeftRight magnifyText">
										Instagram</span
									></a
								>
								<a
									href="https://api.whatsapp.com/send?phone=79286697195"
									><i class="fab fa-whatsapp"></i
									><span class="nav__link borderLeftRight magnifyText">
										WhatsApp</span
									></a
								>
								<a href=""
									><i class="far fa-envelope"></i
									><span class="nav__link borderLeftRight magnifyText"
										>yandex.ru@yandex.ru</span
									></a
								>
							</div>
						</div>
					</li>
				</ul>
				<ul class="nav__list">
					<li class="nav__item">
						<a
							class="nav__link purple-color"
							href="{% url 'cart:cart' %}"
						>
							<span class="badge" id="badge">{{total_qty_cart}}</span>
							<i class="fas fa-shopping-cart"></i>
						</a>
					</li>
					<li class="nav__item">
						<a
							class="nav__link purple-color"
							href="{% url 'wishlist:wishlist' %}"
						>
							<span class="badge"> {{total_qty_wishlist}} </span>
							<i class="fas fa-heart"></i>
						</a>
					</li>
					{% comment %}
					<li class="nav__item">
						<div class="nav__dropdown_container">
							<a class="nav__link" href="">
								<i class="fas fa-user"></i>
								<i class="fas fa-chevron-down arrow-down"></i>
							</a>
							<div class="nav__dropdown_content">
								{% if not user.is_authenticated %}
								<a href="{% url 'login' %}"
									><span class="nav__link borderLeftRight magnifyText"
										>Авторизироваться</span
									></a
								>
								<a href="{% url 'registration' %}"
									><span class="nav__link borderLeftRight magnifyText"
										>Регистрация</span
									></a
								>
								{% else %}
								<a href=""
									><span class="nav__link borderLeftRight magnifyText"
										>Профиль</span
									></a
								>
								<a href="{% url 'logout' %}"
									><span class="nav__link borderLeftRight magnifyText"
										>Выйти</span
									></a
								>
								{% endif %}
							</div>
						</div>
					</li>
					{% endcomment %}
				</ul>
			</nav>
		</header>
		<main class="wrapper">
			<section class="intro"></section>
			{% block content %}
			<section class="main">
				<h1 class="main__title">
					Наша витрина {{request.session.session_key}}
				</h1>
				<div class="main__container">
					{% for product in products %}
					<article class="main__product">
						<div class="main__image">
							<a href="{{product.get_absolute_url}}">
								<img src="{{product.image.url}}" alt="" />
							</a>
							{% if not product.available %}
							<span class="signature notAvailable">Нет в наличии</span>
							{% elif product.freeship%}
							<span class="signature ship">Бесплатная доставка</span>
							{% else %}
							<span class="signature ship"
								>Доставка
								<span>{{product.shipping_price}} ₽</span></span
							>
							{% endif %} {% if product.sale %}
							<span class="signature sale"
								>Скидка
								<span>{{product.sale_value|floatformat}} %</span></span
							>
							{% endif %}
						</div>
						<div class="main__product_content">
							<div class="main__block_first">
								<div class="main__rating margin">
									<i class="fas fa-star"></i>
									<i class="fas fa-star"></i>
									<i class="fas fa-star"></i>
									<i class="fas fa-star"></i>
									<i class="fas fa-star"></i>
								</div>
								<div class="main__price margin">
									{% if product.sale %}
									<span class="main__del_price"
										><del
											>{{product.price|floatformat:2}} ₽</del
										></span
									>
									<span class="main__sale"
										>{{product.get_total_sale|floatformat:1}} ₽</span
									>
									{% else %}
									<span>{{product.price|floatformat}} ₽</span>
									{% endif %}
								</div>
							</div>
							<div class="main__block_second">
								<div class="main__product_title margin">
									<a
										href="{{ product.get_absolute_url }}"
										class="borderLeftRight magnifyText"
										>{{product.title}}</a
									>
								</div>
								<div class="main__product_description">
									{{product.description|truncatewords:10}}
								</div>
							</div>
							<div class="main__block_third">
								<form
									action="{% url 'wishlist:wishlist-add' id=product.id %}"
									method="POST"
								>
									{% csrf_token %}
									<input
										type="hidden"
										name="url_from"
										value="{{request.path}}"
									/>
									<input
										type="hidden"
										name="price"
										value="{{product.price}}"
									/>
                                    <input type="hidden" name="id"
                                    value="{{ product.id }}">
									<button
										type="submit"
										class="main__third_heart_button"
									>
										<i class="fas fa-heart"></i>
									</button>
								</form>
								<div class="main__product_button margin">
										{% if product.available %}
                                            <form
                                                method="POST"
                                                id="cartAdd"
                                                action="cart/add/"
                                            >
                                                {% csrf_token %}
                                                <input type="hidden" name="url_from" value="{{request.path}}" />
                                                <input type="hidden" id="id" name="id" value="{{ product.id }}"/>
                                                <input type="hidden" id="price" name="price" value="{{product.price}}" />
                                                <input type="hidden" id="title" name="title" value="{{ product.title }}">
                                                <button class="overlayLeftBtn" id="overlayLeftBtn">
                                                    <span>
                                                        Заказать
                                                        <i class="fas fa-shopping-cart"></i>
                                                    </span>
                                                </button>
                                            </form>	                
										{% else %}
                                        <a href="{{product.get_absolute_url}}">
                                            <button
                                                class="
                                                    main__product_button
                                                    button
                                                    not__available_btn
                                                    pointer
                                                "
                                            >

                                                <span>
                                                    Просмотр
                                                    <i class="far fa-eye"></i>
                                                </span>
                                            </button>
                                            </a>
										{% endif %}
								</div>
							</div>
						</div>
					</article>
					{% endfor %}
					<div class="main__pagination">
						{% if page_obj.has_previous %}
						<a
							class="main__pagination_arrow"
							href="?page={{ page_obj.previous_page_number }}"
							><i class="fas fa-chevron-left"></i
						></a>
						{% if page_obj.number|add:"-1" != 1 %}
						<a class="main__pagination_start" href="?page=1">1 ... </a>
						{% endif %} {% endif %} {% if page_obj.has_next %}
						<span class="main__pagination_current">
							{{ page_obj.number }} из {% if page_obj.number == page_obj.paginator.num_pages %}
							<span>{{ page_obj.paginator.num_pages }}</span>
							{% else %}
							<a href="?page={{page_obj.paginator.num_pages}}"
								>{{page_obj.paginator.num_pages}}</a
							>
							{% endif %}
						</span>
						<a
							class="main__pagination_arrow"
							href="?page={{ page_obj.next_page_number }}"
							><i class="fas fa-chevron-right"></i
						></a>
						{% endif %}
					</div>
				</div>
				{% endblock content %}
			</section>

			<footer class="footer">
				<div class="footer__container">
					<div class="footer__block">
						<div class="footer__block_header">
							<a
								href="{% url 'categories' %}"
								class="borderLeftRight magnifyText"
								>Каталог</a
							>
						</div>
					</div>
					<div class="footer__block">
						<div class="footer__block_header">
							<a href="" class="borderLeftRight magnifyText">Магазин</a>
						</div>
						<div class="footer__block_content">
							<a href="{% url 'about' %}"
								><span class="borderLeftRight magnifyText"
									>О нас</span
								></a
							>
							<a href=""
								><span class="borderLeftRight magnifyText"
									>Отзывы</span
								></a
							>
						</div>
					</div>
					<div class="footer__block">
						<div class="footer__block_header">
							<a href="" class="borderLeftRight magnifyText">Помощь</a>
						</div>
						<div class="footer__block_content">
							<a href="" class="borderLeftRight magnifyText"
								><span class="borderLeftRight magnifyText"
									>Условия оплаты</span
								></a
							>
						</div>
					</div>
					<div class="footer__block">
						<div class="footer__block_header">
							<p>Связаться с нами:</p>
						</div>
						<div class="footer__block_content">
							<a
								href="https://instagram.com/venesia_maykop?igshid=16j6e7kvh9l7q"
								><i class="fab fa-instagram"></i
								><span class="borderLeftRight magnifyText"
									>Instagram</span
								></a
							>
						</div>
						<div class="footer__block_content whatsapp">
							<a href="https://api.whatsapp.com/send?phone=79286697195"
								><i class="fab fa-whatsapp"></i
								><span class="borderLeftRight magnifyText"
									>WhatsApp</span
								></a
							>
						</div>
						<div class="footer__block_content">
							<a href=""
								><i class="far fa-envelope"></i
								><span class="borderLeftRight magnifyText"
									>yandex.ru@yandex.ru</span
								></a
							>
						</div>
						<div class="footer__block_content">
							<a href=""
								><i class="fas fa-phone-alt"></i
								><span class="borderLeftRight magnifyText"
									>+79286697195</span
								></a
							>
						</div>
					</div>
					<div class="footer__block">
						<div class="footer__block_header">
							<p>График и место работы:</p>
						</div>
						<div class="footer__block_content">
							<p>С 9:00 до 21:00 (без выходных)</p>
							<p>ул. Пролетарская, 436</p>
						</div>
					</div>
				</div>
			</footer>
			<div class="popup">
				<div class="popup__container">
					<div class="popup__close"></div>
					<div class="popup__content"></div>
				</div>
			</div>
		</main>
		<script
          src="https://code.jquery.com/jquery-3.6.0.min.js"
          integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
          crossorigin="anonymous"></script>
        <script src="{% static 'js/cart.js' %}"></script>
        <script src="{% static 'js/el_on_page.js' %}"></script>
		{% comment %} <script src="{% static 'js/wishlist.js' %}"></script> {% endcomment %}
	</body>
</html>
