{% extends 'base.html' %} {% load static %} {% block content %} {{cart_session}}
<h3 class="main__title">Оформление заказа</h3>
<section class="checkout">
	<div class="table__container">
		<table>
			<thead>
				<tr>
					<th scope="col">Наименование</th>
					<th scope="col">Изображение</th>
					<th scope="col">Цена</th>
					<th scope="col">Кол-во</th>
					<th scope="col">Общая цена</th>
				</tr>
			</thead>
			<tbody>
				{% for i in cart_session %} {% for product in products %} {% if i.id == product.id|stringformat:"i"%}
				<tr>
					<th>{{ product.title }}</th>
					<td class="main__image">
						<a href="{{product.get_absolute_url}}">
							<img src="{{ product.image.url }}" />
						</a>
					</td>
					<td>
                    {% if not product.sale %}
					    {{product.price|floatformat:2}} ₽
                    {% else %}
					    {{product.get_total_sale|floatformat:2}} ₽
                    {% endif %}</td>
					<td>{{ i.qty }}</td>
					<td>{{ i.total_price_cart|floatformat:2 }} ₽</td>
				</tr>
				{% endif %} {% endfor %} {% endfor %}
				<tr>
					<td></td>
					<td><strong>Итого:</strong></td>
					<td><strong>{{ total_price|floatformat:2 }} ₽</strong></td>
					<td><strong>{{total_qty_cart}}</strong></td>
					<td></td>
				</tr>
			</tbody>
		</table>
	</div>
</section>
<section class="fields">
	<h3 class="main__title">Форма заказа</h3>
	<div class="field__container">
		<form action="{% url "make_order" %}" method="POST">
			{% csrf_token %}
			<p><label for="id_first_name">Имя:</label> <input type="text" name="first_name" required id="id_first_name"></p>
            <p><label for="id_last_name">Фамилия:</label> <input type="text" name="last_name" required id="id_last_name"></p>
            <p><label for="id_telephone">Номер телефона:</label> <input type="number" name="telephone" required id="id_telephone"></p>
            <p><label for="id_email">Email:</label> <input type="email" name="email" required id="id_email"></p>
            <p><label for="id_buying_type">Тип заказа:</label>
                <select name="buying_type" id="id_buying_type">
                  <option value="Самовывоз">Самовывоз</option>
                  <option value="Доставка">Доставка</option>
                </select>
            </p>
            <p><label for="id_address">Адрес:</label> <input type="text" name="address" required id="id_address"></p>
            <p><label for="id_comment">Комментарий к заказу:</label> <input type="text" name="comment" id="id_comment"></p>
            {% for i in cart_session %} {% for product in products %} {% if i.id == product.id|stringformat:"i" %}
                {% if not product.sale %}
				<input
					type="text"
					name="product"
					maxlength="1024"
                    value="{{product.title}} * {{i.qty}} - {{product.price}}₽"
					id="id_product"
				/>
                {% else %}
                <input
					type="text"
					name="product"
					maxlength="1024"
                    value="{{product.title}} * {{i.qty}} - {{product.get_total_sale}}₽"
					id="id_product"
				/>
                {% endif %}
            {% endif %} {% endfor %} {% endfor %}
			</p>
			<div class="field__button">
				<input
					type="submit"
					class="main__product_button margin button"
					value="Оформить заказ"
				/>
			</div>
		</form>
	</div>
</section>
{% endblock content %}
