{% extends 'base.html' %} {% load static %} {% block content %} {{cart_session}}
<h3 class="main__title">Оформление заказа</h3>
<section class="checkout">
    <div class="cart-wishlist__container">
        {% for i in cart_session %} {% for product in products %} {% if i.id == product.id|stringformat:"i" %}
        <article class="cart-wishlist__product">
            <div class="main__image">
                <a href="{{product.get_absolute_url}}">
                    <img src="{{product.image.url}}" alt="" />
                </a>
                {% if not product.available %}
                <span class="signature notAvailable">Распродано</span>
                {% elif product.shipping_price == 0 %}
                <span class="signature ship">Бесплатная доставка</span>
                {% else %}
                <span class="signature ship"
                    >Доставка <span>{{product.shipping_price}} ₽</span></span>
                {% endif %} {% if product.sale_value > 0 %}
                <span class="signature sale"
                    >Скидка <span>{{product.sale_value|floatformat}} %</span></span>
                {% endif %}
            </div>
            <div class="cart-wishlist__content">
                <div class="cart-wishlist__product-first">
                    <div class="main__product_title margin">
                        <a
                            href="{{ product.get_absolute_url }}"
                            class="borderLeftRight magnifyText"
                            >{{product.title}}</a
                        >
                       
                    </div>
                    <div class="main__product_description">{{product.description}}</div>
                </div>

                <div class="cart-wishlist__product-second">
                    <div class="main__price margin">
                        {% if product.sale_value > 0 %}
                        <span class="main__sale background"
                            >{{product.get_total_sale|floatformat:1}} ₽</span
                        >
                        <span class="main__del_price"
                            ><del>{{product.price|floatformat:2}} ₽</del></span
                        >
                        {% else %}
                        <span class="background">{{product.price|floatformat}} ₽</span>
                        {% endif %}
                    </div>  
                    <div class="cart-wishlist__product_block-total-span">
                        Кол-во позиций: {{i.qty}}
                    </div>    
                </div>
            </div>
        </article>
        
        {% endif %} {% endfor %} {% endfor %}
        <div class="cart-wishlist__product_block-total">
            <div class="cart-wishlist__product-total">
                Итого: <span class="cart-wishlist__product_block-total-price">{{ total_price|floatformat:2 }} ₽</span> Кол-во: <span class="cart-wishlist__product_block-total-count">{{total_qty_cart}}</span>
            </div>
        </div>
    </div>
</section>

<section class="fields">
	<h3 class="main__title">Форма заказа</h3>
	<div class="field__container">
		<form action="{% url "make_order"%}" method="POST">
			{% csrf_token %}
            {% if user.is_authenticated %}
                <p><label for="id_f_name">Имя:</label> <input type="text" name="f_name" maxlength="255" required="" id="id_f_name" value="{{account.f_name}}"></p>
                <p><label for="id_l_name">Фамилия:</label> <input type="text" name="l_name" maxlength="255" required="" id="id_l_name" value="{{account.l_name}}"></p>
                <p><label for="id_email">Email:</label> <input type="email" name="email" required="" id="id_email" value="{{account.email}}"></p>
                <p><label for="id_phone_number">Телефон:</label> <input type="text" name="phone_number" required="" id="id_phone_number" value="{{account.phone_number}}"></p>
                <p><label for="id_address">Адрес:</label> <input type="text" name="address" maxlength="255" required="" id="id_address"value="{{account.address}}"></p>
            {% endif %}
            <p><label for="id_buying_type">Тип покупки:</label> <select name="buying_type" id="id_buying_type">
            <option value="self">Самовывоз</option>

            <option value="delivery">Доставка</option>

            </select></p>
            <p><label for="id_comment">Комментарий к заказу:</label> <input type="text" name="comment" maxlength="5000" required="" id="id_comment"> <span class="helptext">Кол-во символов до 5000</span></p>
                    
                <input
					type="hidden"
					name="product"
					maxlength="1024"
                    value="{% for i in cart_session %} {% for product in products %} {% if i.id == product.id|stringformat:"i" %}{{product.title}} * {{i.qty}} - {{product.get_total_sale}}₽  {% endif %} {% endfor %} {% endfor %}"
					id="id_product"
				/>
               
			<div class="field__button">
				<input
					type="submit"
					class="main__product_button margin button"
					value="Оформить заказ"
				/>
			</div> 
		</form>
	</div>
</section>
{% endblock content %}
